<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.droids"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.droids.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.droids.Preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name="com.example.droids.PrefDroidz"
            android:label="@string/title_activity_pref_droidz" >
        </activity>
        <activity
            android:name="com.example.droids.DroidzActivity"
            android:label="@string/title_activity_droidz" >
        </activity>
        <activity
            android:name="com.example.droids.AnimatedElaineActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_animated_elaine" >
        </activity>
        <activity
            android:name="com.example.droids.FireworksActivity"
            android:label="@string/title_activity_fireworks" >
        </activity>
        <activity
            android:name="com.example.droids.FireworksPrefs"
            android:label="@string/title_activity_fireworks_prefs" >
        </activity>
    </application>

</manifest>